* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth; /*scrolling navigation*/
}

body {
  height: 100vh; /*100% of viewport height*/
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; /*Overlapping elements with a larger z-index cover those with a smaller one*/
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-right: 12px;
  margin-top: 20px;
  margin-left: 5px;
}

header ul li a {
  text-decoration: none;
  padding: 7px 15px;
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
}

header ul li a:hover, .active {
  background: #5be8ce;
  color: #fff;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#openbg {
  z-index: 1;
}

#mario {
  height: 95px;
  width: 70px;
  left: 30.2%;
  z-index: 2;
}

#pipe {
  width: 80px;
  height: 100px;
  left: 30%;
  top: 81.7%;
  z-index: 3;
}

#about {
  z-index: 5;
  position: absolute;
  left: 4%;
  top: 15%;
  border: 10px solid powderblue;
  padding: 20px;
  color: #f0cc5d;
  background-color: #61bece;
}

#aboutlist {
  list-style: none;
}

.txt {
  background: linear-gradient(#cb6315, #0ebdd8);
  position: absolute;
  padding: 50px;
  width: 100%;
  z-index: 5;
}

@keyframes neon-colors {
  0% {
    background-color: #9be85b;
  }
  20% {
    background-color: #d9e85b;
  }
  40% {
    background-color: #e8c25b;
  }
  60% {
    background-color: #e8aa5b;
  }
  80% {
    background-color: #d9e85b;
  }
  100% {
    background-color: #9be85b;
  }
}

.neon-animation {
  z-index: 5;
  top: 48.5%;
  left: 66.3%;
  position: absolute;
  animation-name: neon-colors;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#closebg {
  z-index: 1;
}

#me {
  z-index: 6;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 16.5%;
  left: 65.4%;
  border-radius: 200px;
}

#brick {
  z-index: 7;
  top: 92.2%;
  left: 30.1%;
  width: 83px;
  height: 72px;
}

@keyframes flaglight-colors {
  0% {
    background-color: #e64b4b;
  }
  20% {
    background-color: #e64ba2;
  }
  40% {
    background-color: #5e4be6;
  }
  60% {
    background-color: #4ba0e6;
  }
  80% {
    background-color: #e64ba2;
  }
  100% {
    background-color: #e64b4b;
  }
}

#flaglight {
  z-index: 8;
  height: 28px;
  width: 28px;
  top: 19.4%;
  left: 16.55%;
  animation-name: flaglight-colors;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#txtheader {
  background-color: #c6ec66;
  padding: 8px;
  border-radius: 10px 100px / 120px;
  width: 10.5%;
  color: rgba(0, 0, 0, 0.5); /*transparent text*/
}
