* {
  scroll-behavior: smooth;
  /*scrolling navigation*/
}

#openbg {
  z-index: 1;
  height: 100vh;
  width: 100%;
}

#mario {
  height: 10vh;
  width: 3.5vw;
  left: 39.8%;
  z-index: 3;
}

#pipe {
  width: 4.2vw;
  height: 11vh;
  left: 39.5%;
  top: 81.5%;
  z-index: 5;
}

#brick {
  z-index: 5;
  top: 92.5%;
  left: 39.7%;
  width: 4.35vw;
  height: 7.46vh;
}

#TOCHANGE {
  z-index: 2;
  width: 15vw;
  height: 15vh;
  position: absolute;
  top: 34%;
  left: 66%;
}

header nav {
  background-color: #E3F2FD;
  padding-left: 30px;
  opacity: 0.9;
}

header ul li {
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
}

header ul li a {
  padding: 7px 15px;
  border-radius: 8px;
  font-weight: bold;
}

header ul li a:hover, .active {
  background: #63dae4;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
}

section img {
  position: absolute;
}

#about {
  z-index: 5;
  position: absolute;
  left: 4%;
  top: 15%;
  width: 34%;
  border: 10px solid powderblue;
  padding: 1%;
  color: #30656d;
  background-color: #61BECE;
}

.txt {
  background: linear-gradient(#217079, #0EBDD8);
  padding: 30px;
  width: 100%;
  height: 100%;
}

#txtheader {
  background-color: #70C8D1;
  color: #2E4053;
  padding: 1em 2em 1em 2em;
  border-radius: 50% 50% / 15% 40%;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  z-index: 5;
  opacity: 0.9;
}

.stretch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paraheader {
  background-color: #70C8D1;
  color: #3D6167;
  padding: 0.5em;
  border-radius: 50% 50% / 15% 40%;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  width: 60%;
  opacity: 0.9;
}

#zindexprojects {
  z-index: 4;
}

.alignli {
  text-align: justify;
  margin: 0 auto;
}

.paralinks {
  text-decoration: underline overline dotted;
}

/* unvisited link */
.paralinks:link {
  color: #36A171;
}

/* visited link */
.paralinks:visited {
  color: #3D6167;
}

/* mouse over link */
.paralinks:hover {
  color: #267B7B;
}

/* selected link */
.paralinks:active {
  color: #1DB8B8;
}

.paratext {
  background-color: #1C2833;
  color: #5B8890;
  padding: 2em 3em 0.5em 3em;
  border-radius: 20% 20% 20% 20%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  opacity: 0.85;
  width: 60%;
}

#closebg {
  z-index: 1;
  height: 100vh;
  width: 100%;
}

@keyframes flaglight-colors {
  0% {
    background-color: #943126;
  }

  20% {
    background-color: #1A5276;
  }

  40% {
    background-color: #117864;
  }

  60% {
    background-color: #21618C;
  }

  80% {
    background-color: #1A5276;
  }

  100% {
    background-color: #943126;
  }
}

#flaglight {
  z-index: 2;
  height: 3vh;
  width: 1.5vw;
  top: 19.5%;
  left: 16.55%;
  animation-name: flaglight-colors;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
